.DS_Store
/Manifest.toml
/dev/
images/*.pdf
/docs/build
/LandUseR/.Rproj.*
/LandUseR/.Rbuildignore
/LandUseR/.Rhistory
/LandUseR/docs
.Rproj.user
/tex/slides/*.pdf
*.Rd
tex/slides/*.synctex.gz
in/tables/k20-d1d2.jld2
in/tables/d1d220.jld2 
